<html>

<head>
    <link rel="icon" href="/Images/weather-icon.jpg">
    <link rel="Stylesheet" href="/CSS/style.css">
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>This site was created by Ehraz .</p>
        <img class='protrait' src="/Images/Ehraz.jpg">
    </div>

    {{>footer}}
</body>

</html>