<html>

<head>
    <link rel="icon" href="/Images/weather-icon.jpg">
    <link rel="Stylesheet" href="/css/style.css">
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>{{message}}</p>
        <p>Help</p>
    </div>

    {{>footer}}
</body>

</html>